
.container-main{
}

.first-article{
   display: flex;
}
.main-article{
    display: flex;
    padding: 1%;
    width: 72%;
    border: 1px solid;
    margin: 0.5% 1% 0 0;
}
.main-article #main-image{
    width: 90%;
    height: 350px;
    
}
.main-news-details{
    flex-direction: column;
    width: 60%;
    padding-right: 1%;
    text-align: center;
}

.extra-main-news{
width: 40% ;

}
.extra-main-news h2{
    font-size: 18px;
}
.extra-main-news img{
    width: 90%;
}

.header{

}
.header h2{
    font-family:sans-serif;
    font-size: 26px;
}
.container-main a{
    color: black;
}
.container-main li{
    list-style: none;
}
.p{
    font-family: sans-serif;
    
}
.p li{
    display: flex;
    background-color: #F7F7F7;
    width: 90px;
    height: 30px;
    justify-content: center;
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: 600;
    border: 1px solid 
    
}
.main-article h2 {
    display: flex;
    justify-content: space-between;
}
.main-article p {
    display: flex;
    justify-content: center;
}
.top-news{
    width: 20%;
    padding: 1%;
    text-align: center;
    border: 1px solid;
    margin-top:0.5%;
    }
.top-news h3{
    background-color:#0F76AE;
    margin: 0 auto;
    padding: 10px 0 10px 0;
    color: white;
    
}
.news-grid{
    display: grid;
    grid-row-gap:5px;
    grid-template-columns: auto;
    padding: 10px;
   
}
.item{
    height: auto;
    padding: 5% 0 5% 0 ;
    border-bottom: 2px dotted;
}
.item a:hover{
    color: #0F76AE;
    
}
@media screen and (max-width:700px){
    .first-article{
        flex-direction: column;
    }
    .main-article{
        flex-direction: column;
        width: 96.5%;
    }
    .main-image{
        width: 100%;
        order: ;
    }
    .main-news-details{
        flex-direction: column;
        width: 98%;
        padding: 1%;
    }
    .p{
        order: 1;
    }
    .extra-main-news{
        width: 96%;
    }
    .top-news{
        width: 96%;
    }
    
}
